@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic|Ewert|Holtwood+One+SC|Lato:100i,300,300i,400,400i,700,700i,900,900i|Rye|Volkhov:400i,700,700i|Sacramento|Walter+Turncoat");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Carrois Gothic", sans-serif;
  font-weight: 400;
  background-color: #000;
  color: #333; }

h1 {
  font-family: "Rye", cursive;
  font-weight: 300;
  font-size: 2.625em;
  line-height: 1.09524;
  margin-bottom: 0.5em;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-top: .75em; }

h2 {
  font-family: "Rye", cursive;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 0.5625em;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding: 0; }
  @media screen and (max-width: 1240px) {
    h2 {
      font-size: 1.5em;
      line-height: 1.33333;
      margin-bottom: 0.375em; } }
  @media screen and (max-width: 960px) {
    h2 {
      margin-top: .5em; } }

h3 {
  font-family: "Walter Turncoat", cursive;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1;
  text-align: center;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  margin-top: 1.125em; }

h5 {
  font-family: "Volkhov", serif;
  font-size: 1em;
  line-height: 1.125;
  margin-bottom: 0em;
  text-align: right;
  padding: 1em 1.25em .2em 1em; }
  @media screen and (max-width: 1240px) {
    h5 {
      font-size: 0.9375em;
      line-height: 1.2;
      margin-bottom: 0.23438em; } }
  @media screen and (max-width: 960px) {
    h5 {
      font-size: 0.75em;
      line-height: 1.08333;
      margin-bottom: 0.1875em; } }

.card- > h2 > h5,
.card-1 {
  color: #ED1C24; }

.card-2 {
  color: #7CC444; }

.card-3 {
  color: #F2DD98; }

.card-4 {
  color: #D4145A; }

.card-5 {
  color: #D79139; }

.card-6 {
  color: #a00f87; }

.card-7 {
  color: #fff; }

.card-8 {
  color: #F7931E; }

.card-9 {
  color: #FBB03B; }

.card-10 {
  color: #ED1C24; }

.card-11 {
  color: #fff; }

.card-12 {
  color: #ED1C24; }

.card-13 {
  color: #fff; }

.card-14 {
  color: #B5066E; }
  .card-14 h5 {
    color: #fff; }

.card-15 {
  color: #B5066E; }
  .card-15 h5 {
    color: #fff; }

.card-16 {
  color: #525252; }

.card-17 {
  color: #DB289E; }

.card-18 {
  color: #fff; }
  .card-18 h5 {
    color: #8A44C0; }

.card-19 {
  color: #B5066E; }

.card-20 {
  color: #B5066E; }

.card-21 {
  color: #fff; }
  .card-21 h5 {
    color: #d36aa8; }

.card-22 {
  color: #fff; }

article {
  border-radius: 14px; }

div.cards4Wrapper p {
  font-size: 0.875em; }
div.cards4Wrapper a {
  color: #0a1e29;
  text-decoration: none;
  position: relative;
  float: right;
  margin-top: .2em;
  margin-right: 1.35em;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 0.625em; }
  div.cards4Wrapper a:hover {
    color: #19D8F2;
    text-decoration: underline; }
  div.cards4Wrapper a:before::after,
  div.cards4Wrapper a :after::after {
    clear: both;
    content: "";
    display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul li {
    display: inline; }
    ul li a {
      text-decoration: none;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      margin: .5em 1.5em .5em 2em; }
      ul li a:hover {
        color: #3378a1; }

.main {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto; }
  .main::after {
    clear: both;
    content: "";
    display: block; }

.nav-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #0d2634; }
  .nav-row:last-child {
    margin-right: 0; }
  .nav-row:after::after {
    clear: both;
    content: "";
    display: block; }

div.nav-links {
  background-color: #0c2330;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  div.nav-links:last-child {
    margin-right: 0; }

.headerCards-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-image: -webkit-radial-gradient(72em 10em, ellipse closest-corner, transparent 40%, rgba(0, 0, 0, 0.6) 100%), url("../imgs/starTile.svg");
  background-image: radial-gradient(ellipse closest-corner at 72em 10em, transparent 40%, rgba(0, 0, 0, 0.6) 100%), url("../imgs/starTile.svg");
  background-size: 100%, 200px;
  background-position: left, left;
  background-repeat: no-repeat, repeat;
  background-color: #113245;
  padding: .5em 2em 1em 2em; }
  @media screen and (max-width: 1240px) {
    .headerCards-row {
      background-image: -webkit-radial-gradient(45em 10em, ellipse closest-corner, transparent 40%, rgba(0, 0, 0, 0.6) 100%), url("../imgs/starTile.svg");
      background-image: radial-gradient(ellipse closest-corner at 45em 10em, transparent 40%, rgba(0, 0, 0, 0.6) 100%), url("../imgs/starTile.svg"); } }
  .headerCards-row:last-child {
    margin-right: 0; }

.headerCards {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 76.76824%;
  background-image: -webkit-radial-gradient(-5em -5em, ellipse closest-corner, #fff 20%, transparent 100%);
  background-image: radial-gradient(ellipse closest-corner at -5em -5em, #fff 20%, transparent 100%);
  background-size: cover; }
  .headerCards:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    .headerCards {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .headerCards:last-child {
        margin-right: 0; } }
  .headerCards .mrMuert {
    float: left;
    display: block;
    margin-right: 10.1484%;
    width: 26.56773%;
    padding: 0;
    margin: 1.5em 0 0 0; }
    .headerCards .mrMuert:last-child {
      margin-right: 0; }
    @media screen and (max-width: 900px) {
      .headerCards .mrMuert {
        display: none; } }
  .headerCards .mrMuertImg {
    float: left;
    display: block;
    margin-right: 10.1484%;
    width: 63.28387%;
    position: relative;
    object-fit: 100%;
    object-position: left;
    max-height: 100%;
    min-height: 100%;
    margin: 0 0 0 0; }
    .headerCards .mrMuertImg:last-child {
      margin-right: 0; }
    @media screen and (max-width: 900px) {
      .headerCards .mrMuertImg {
        display: none; } }
  .headerCards:after::after {
    clear: both;
    content: "";
    display: block; }

div.cards4Wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  div.cards4Wrapper:last-child {
    margin-right: 0; }
  div.cards4Wrapper .card-1,
  div.cards4Wrapper .card-2,
  div.cards4Wrapper .card-3,
  div.cards4Wrapper .card-4,
  div.cards4Wrapper .card-5,
  div.cards4Wrapper .card-6,
  div.cards4Wrapper .card-7,
  div.cards4Wrapper .card-8,
  div.cards4Wrapper .card-9,
  div.cards4Wrapper .card-10,
  div.cards4Wrapper .card-11,
  div.cards4Wrapper .card-12,
  div.cards4Wrapper .card-13,
  div.cards4Wrapper .card-14,
  div.cards4Wrapper .card-15,
  div.cards4Wrapper .card-16,
  div.cards4Wrapper .card-17,
  div.cards4Wrapper .card-18,
  div.cards4Wrapper .card-19,
  div.cards4Wrapper .card-20,
  div.cards4Wrapper .card-21,
  div.cards4Wrapper .card-22,
  div.cards4Wrapper .card-23,
  div.cards4Wrapper .card-24 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    margin-bottom: 3.125em; }
    div.cards4Wrapper .card-1:last-child,
    div.cards4Wrapper .card-2:last-child,
    div.cards4Wrapper .card-3:last-child,
    div.cards4Wrapper .card-4:last-child,
    div.cards4Wrapper .card-5:last-child,
    div.cards4Wrapper .card-6:last-child,
    div.cards4Wrapper .card-7:last-child,
    div.cards4Wrapper .card-8:last-child,
    div.cards4Wrapper .card-9:last-child,
    div.cards4Wrapper .card-10:last-child,
    div.cards4Wrapper .card-11:last-child,
    div.cards4Wrapper .card-12:last-child,
    div.cards4Wrapper .card-13:last-child,
    div.cards4Wrapper .card-14:last-child,
    div.cards4Wrapper .card-15:last-child,
    div.cards4Wrapper .card-16:last-child,
    div.cards4Wrapper .card-17:last-child,
    div.cards4Wrapper .card-18:last-child,
    div.cards4Wrapper .card-19:last-child,
    div.cards4Wrapper .card-20:last-child,
    div.cards4Wrapper .card-21:last-child,
    div.cards4Wrapper .card-22:last-child,
    div.cards4Wrapper .card-23:last-child,
    div.cards4Wrapper .card-24:last-child {
      margin-right: 0; }
    @media screen and (max-width: 900px) {
      div.cards4Wrapper .card-1,
      div.cards4Wrapper .card-2,
      div.cards4Wrapper .card-3,
      div.cards4Wrapper .card-4,
      div.cards4Wrapper .card-5,
      div.cards4Wrapper .card-6,
      div.cards4Wrapper .card-7,
      div.cards4Wrapper .card-8,
      div.cards4Wrapper .card-9,
      div.cards4Wrapper .card-10,
      div.cards4Wrapper .card-11,
      div.cards4Wrapper .card-12,
      div.cards4Wrapper .card-13,
      div.cards4Wrapper .card-14,
      div.cards4Wrapper .card-15,
      div.cards4Wrapper .card-16,
      div.cards4Wrapper .card-17,
      div.cards4Wrapper .card-18,
      div.cards4Wrapper .card-19,
      div.cards4Wrapper .card-20,
      div.cards4Wrapper .card-21,
      div.cards4Wrapper .card-22,
      div.cards4Wrapper .card-23,
      div.cards4Wrapper .card-24 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        div.cards4Wrapper .card-1:last-child,
        div.cards4Wrapper .card-2:last-child,
        div.cards4Wrapper .card-3:last-child,
        div.cards4Wrapper .card-4:last-child,
        div.cards4Wrapper .card-5:last-child,
        div.cards4Wrapper .card-6:last-child,
        div.cards4Wrapper .card-7:last-child,
        div.cards4Wrapper .card-8:last-child,
        div.cards4Wrapper .card-9:last-child,
        div.cards4Wrapper .card-10:last-child,
        div.cards4Wrapper .card-11:last-child,
        div.cards4Wrapper .card-12:last-child,
        div.cards4Wrapper .card-13:last-child,
        div.cards4Wrapper .card-14:last-child,
        div.cards4Wrapper .card-15:last-child,
        div.cards4Wrapper .card-16:last-child,
        div.cards4Wrapper .card-17:last-child,
        div.cards4Wrapper .card-18:last-child,
        div.cards4Wrapper .card-19:last-child,
        div.cards4Wrapper .card-20:last-child,
        div.cards4Wrapper .card-21:last-child,
        div.cards4Wrapper .card-22:last-child,
        div.cards4Wrapper .card-23:last-child,
        div.cards4Wrapper .card-24:last-child {
          margin-right: 0; } }
    div.cards4Wrapper .card-1 img,
    div.cards4Wrapper .card-2 img,
    div.cards4Wrapper .card-3 img,
    div.cards4Wrapper .card-4 img,
    div.cards4Wrapper .card-5 img,
    div.cards4Wrapper .card-6 img,
    div.cards4Wrapper .card-7 img,
    div.cards4Wrapper .card-8 img,
    div.cards4Wrapper .card-9 img,
    div.cards4Wrapper .card-10 img,
    div.cards4Wrapper .card-11 img,
    div.cards4Wrapper .card-12 img,
    div.cards4Wrapper .card-13 img,
    div.cards4Wrapper .card-14 img,
    div.cards4Wrapper .card-15 img,
    div.cards4Wrapper .card-16 img,
    div.cards4Wrapper .card-17 img,
    div.cards4Wrapper .card-18 img,
    div.cards4Wrapper .card-19 img,
    div.cards4Wrapper .card-20 img,
    div.cards4Wrapper .card-21 img,
    div.cards4Wrapper .card-22 img,
    div.cards4Wrapper .card-23 img,
    div.cards4Wrapper .card-24 img {
      float: left;
      display: block;
      margin-right: 10.1484%;
      width: 100%;
      position: relative;
      top: 0;
      left: 0;
      width: 75%; }
      div.cards4Wrapper .card-1 img:last-child,
      div.cards4Wrapper .card-2 img:last-child,
      div.cards4Wrapper .card-3 img:last-child,
      div.cards4Wrapper .card-4 img:last-child,
      div.cards4Wrapper .card-5 img:last-child,
      div.cards4Wrapper .card-6 img:last-child,
      div.cards4Wrapper .card-7 img:last-child,
      div.cards4Wrapper .card-8 img:last-child,
      div.cards4Wrapper .card-9 img:last-child,
      div.cards4Wrapper .card-10 img:last-child,
      div.cards4Wrapper .card-11 img:last-child,
      div.cards4Wrapper .card-12 img:last-child,
      div.cards4Wrapper .card-13 img:last-child,
      div.cards4Wrapper .card-14 img:last-child,
      div.cards4Wrapper .card-15 img:last-child,
      div.cards4Wrapper .card-16 img:last-child,
      div.cards4Wrapper .card-17 img:last-child,
      div.cards4Wrapper .card-18 img:last-child,
      div.cards4Wrapper .card-19 img:last-child,
      div.cards4Wrapper .card-20 img:last-child,
      div.cards4Wrapper .card-21 img:last-child,
      div.cards4Wrapper .card-22 img:last-child,
      div.cards4Wrapper .card-23 img:last-child,
      div.cards4Wrapper .card-24 img:last-child {
        margin-right: 0; }

.card-1 {
  background-image: -webkit-radial-gradient(6em 8em, ellipse farthest-corner, transparent 30%, #F39200 100%), url("../imgs/bk-fool-80.jpg");
  background-image: radial-gradient(ellipse farthest-corner at 6em 8em, transparent 30%, #F39200 100%), url("../imgs/bk-fool-80.jpg"); }

.card-2 {
  background-image: -webkit-radial-gradient(6em 9em, ellipse farthest-corner, transparent 30%, #371b4d 100%), url("../imgs/bk-magician-80.jpg");
  background-image: radial-gradient(ellipse farthest-corner at 6em 9em, transparent 30%, #371b4d 100%), url("../imgs/bk-magician-80.jpg"); }

.card-3 {
  background-image: -webkit-radial-gradient(6em 9em, ellipse farthest-corner, transparent 40%, #80B1A1 100%), url("../imgs/bk-priestess-80.jpg");
  background-image: radial-gradient(ellipse farthest-corner at 6em 9em, transparent 40%, #80B1A1 100%), url("../imgs/bk-priestess-80.jpg");
  background-position: left, bottom; }

.card-4 {
  background-image: -webkit-radial-gradient(6em 9em, ellipse farthest-corner, transparent 40%, #371b4d 100%), url("../imgs/bk-empress-80.jpg");
  background-image: radial-gradient(ellipse farthest-corner at 6em 9em, transparent 40%, #371b4d 100%), url("../imgs/bk-empress-80.jpg");
  background-position: right, bottom; }

.card-5 {
  background-image: -webkit-radial-gradient(transparent 40%, #19D8F2 100%), url("../imgs/bk-emperor-80.jpg");
  background-image: radial-gradient(transparent 40%, #19D8F2 100%), url("../imgs/bk-emperor-80.jpg"); }

.card-6 {
  background-image: -webkit-radial-gradient(transparent 20%, #666600 100%), url("../imgs/bk-heirophant-80.jpg");
  background-image: radial-gradient(transparent 20%, #666600 100%), url("../imgs/bk-heirophant-80.jpg"); }

.card-6 img {
  width: 85%;
  margin-left: 1em; }

.card-7 {
  background-image: -webkit-radial-gradient(transparent 10%, #8A44C0 100%), url("../imgs/bk-lover-80.jpg");
  background-image: radial-gradient(transparent 10%, #8A44C0 100%), url("../imgs/bk-lover-80.jpg");
  background-position: center, bottom; }

.card-8 {
  background-image: -webkit-radial-gradient(transparent 40%, #A8E2C0 100%), url("../imgs/bk-chariot-80.jpg");
  background-image: radial-gradient(transparent 40%, #A8E2C0 100%), url("../imgs/bk-chariot-80.jpg");
  background-position: center, bottom; }

.card-9 {
  background-image: -webkit-radial-gradient(9em 13.75em, ellipse farthest-corner, transparent 40%, #ED1C24 100%), url("../imgs/bk-strength-80.jpg");
  background-image: radial-gradient(ellipse farthest-corner at 9em 13.75em, transparent 40%, #ED1C24 100%), url("../imgs/bk-strength-80.jpg"); }

.card-10 {
  background-image: -webkit-radial-gradient(transparent 20%, #174427 100%), url("../imgs/bk-hermit-80.jpg");
  background-image: radial-gradient(transparent 20%, #174427 100%), url("../imgs/bk-hermit-80.jpg"); }

.card-11 {
  background-image: -webkit-radial-gradient(transparent 20%, #8A44C0 100%), url("../imgs/bk-wheel-80.jpg");
  background-image: radial-gradient(transparent 20%, #8A44C0 100%), url("../imgs/bk-wheel-80.jpg");
  background-position: center, bottom; }

.card-12 {
  background-image: -webkit-radial-gradient(9em 13.75em, ellipse farthest-corner, transparent 30%, #A8E2C0 100%), url("../imgs/bk-justice-80.jpg");
  background-image: radial-gradient(ellipse farthest-corner at 9em 13.75em, transparent 30%, #A8E2C0 100%), url("../imgs/bk-justice-80.jpg");
  background-position: center, bottom; }

.card-13 {
  background-image: -webkit-radial-gradient(transparent 20%, #613a00 100%), url("../imgs/bk-hangedMan-80.jpg");
  background-image: radial-gradient(transparent 20%, #613a00 100%), url("../imgs/bk-hangedMan-80.jpg"); }

.card-14 {
  background-image: -webkit-radial-gradient(transparent 20%, #371b4d 100%), url("../imgs/bk-death-80.jpg");
  background-image: radial-gradient(transparent 20%, #371b4d 100%), url("../imgs/bk-death-80.jpg"); }

.card-15 {
  background-image: -webkit-radial-gradient(transparent 20%, #80B1A1 100%), url("../imgs/bk-temperance-80.jpg");
  background-image: radial-gradient(transparent 20%, #80B1A1 100%), url("../imgs/bk-temperance-80.jpg");
  background-position: center, bottom; }

.card-16 {
  background-image: -webkit-radial-gradient(6em 6em, ellipse closest-corner, transparent 70%, #F2DD98 100%), url("../imgs/bk-devil-80.jpg");
  background-image: radial-gradient(ellipse closest-corner at 6em 6em, transparent 70%, #F2DD98 100%), url("../imgs/bk-devil-80.jpg");
  background-position: center, bottom; }

.card-17 {
  background-image: -webkit-radial-gradient(6em 9em, ellipse farthest-corner, transparent 30%, #80B1A1 100%), url("../imgs/bk-tower-80.jpg");
  background-image: radial-gradient(ellipse farthest-corner at 6em 9em, transparent 30%, #80B1A1 100%), url("../imgs/bk-tower-80.jpg"); }

.card-18 {
  background-image: -webkit-radial-gradient(9em 13.75em, ellipse farthest-corner, transparent 40%, #58103f 100%), url("../imgs/bk-star-80.jpg");
  background-image: radial-gradient(ellipse farthest-corner at 9em 13.75em, transparent 40%, #58103f 100%), url("../imgs/bk-star-80.jpg"); }

.card-19 {
  background-image: -webkit-radial-gradient(9em 13.75em, ellipse farthest-corner, transparent 40%, #8A44C0 100%), url("../imgs/bk-moon-80.jpg");
  background-image: radial-gradient(ellipse farthest-corner at 9em 13.75em, transparent 40%, #8A44C0 100%), url("../imgs/bk-moon-80.jpg");
  background-position: center, bottom; }

.card-20 {
  background-image: -webkit-radial-gradient(9em 13.75em, ellipse farthest-corner, transparent 40%, #A8E2C0 100%), url("../imgs/bk-sun-80.jpg");
  background-image: radial-gradient(ellipse farthest-corner at 9em 13.75em, transparent 40%, #A8E2C0 100%), url("../imgs/bk-sun-80.jpg");
  background-position: center, bottom; }

.card-21 {
  background-image: -webkit-radial-gradient(9em 13.75em, ellipse farthest-corner, transparent 40%, #ED1C24 100%), url("../imgs/bk-judgement-80.jpg");
  background-image: radial-gradient(ellipse farthest-corner at 9em 13.75em, transparent 40%, #ED1C24 100%), url("../imgs/bk-judgement-80.jpg"); }

.card-22 {
  background-image: -webkit-radial-gradient(9em 13.75em, ellipse farthest-corner, transparent 40%, #174427 100%), url("../imgs/bk-world-80.jpg");
  background-image: radial-gradient(ellipse farthest-corner at 9em 13.75em, transparent 40%, #174427 100%), url("../imgs/bk-world-80.jpg"); }

/*# sourceMappingURL=app.css.map */
