@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic|Ewert|Holtwood+One+SC|Lato:100i,300,300i,400,400i,700,700i,900,900i|Rye|Volkhov:400i,700,700i|Sacramento|Walter+Turncoat");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Carrois Gothic", sans-serif;
  font-weight: 400;
  background-color: #000;
  color: #333; }

h1 {
  font-family: "Rye", cursive;
  font-weight: 300;
  font-size: 2.625em;
  line-height: 1.09524;
  margin-bottom: 0.5em;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-top: .75em; }

h2 {
  font-family: "Rye", cursive;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 0.5625em;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding: 0; }

h3 {
  font-family: "Walter Turncoat", cursive;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1;
  text-align: center;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  margin-top: 1.125em; }

h5 {
  font-family: "Volkhov", serif;
  font-size: 1em;
  line-height: 1.125;
  margin-bottom: 0em;
  text-align: right;
  padding: 2em 1.25em 0em 1em; }

.card- > h2 > h5,
.card-1 {
  color: #ED1C24; }

.card-2 {
  color: #7CC444; }

.card-3 {
  color: #F2DD98; }

.card-4 {
  color: #D4145A; }

.card-5 {
  color: #D79139; }

.card-6 {
  color: #a00f87; }

.card-7 {
  color: #fff; }

.card-8 {
  color: #F7931E; }

.card-9 {
  color: #FBB03B; }

.card-10 {
  color: #ED1C24; }

.card-11 {
  color: #fff; }

.card-12 {
  color: #ED1C24; }

.card-13 {
  color: #fff; }

.card-14 {
  color: #B5066E; }
  .card-14 h5 {
    color: #fff; }

.card-15 {
  color: #B5066E; }
  .card-15 h5 {
    color: #fff; }

.card-16 {
  color: #525252; }

.card-17 {
  color: #DB289E; }

.card-18 {
  color: #fff; }
  .card-18 h5 {
    color: #8A44C0; }

.card-19 {
  color: #B5066E; }

.card-20 {
  color: #B5066E; }

.card-21 {
  color: #fff; }
  .card-21 h5 {
    color: #d36aa8; }

.card-22 {
  color: #fff; }

article {
  border-radius: 14px; }

div.cards4Wrapper p {
  font-size: 0.875em; }
div.cards4Wrapper a {
  color: #0a1e29;
  text-decoration: none;
  position: relative;
  float: right;
  margin-top: .2em;
  margin-right: 1.35em;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 0.625em; }
  div.cards4Wrapper a:hover {
    color: #19D8F2;
    text-decoration: underline; }
  div.cards4Wrapper a:before::after,
  div.cards4Wrapper a :after::after {
    clear: both;
    content: "";
    display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul li {
    display: inline; }
    ul li a {
      text-decoration: none;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      margin: .5em 1.5em .5em 2em; }
      ul li a:hover {
        color: #3378a1; }

.main {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto; }
  .main::after {
    clear: both;
    content: "";
    display: block; }

.nav-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #0d2634; }
  .nav-row:last-child {
    margin-right: 0; }
  .nav-row:after::after {
    clear: both;
    content: "";
    display: block; }

div.nav-links {
  background-color: #0c2330;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  div.nav-links:last-child {
    margin-right: 0; }

.headerCards-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-image: -webkit-radial-gradient(72em 10em, ellipse closest-corner, transparent 40%, rgba(0, 0, 0, 0.6) 100%), url("../imgs/starTile.svg");
  background-image: radial-gradient(ellipse closest-corner at 72em 10em, transparent 40%, rgba(0, 0, 0, 0.6) 100%), url("../imgs/starTile.svg");
  background-size: 100%, 200px;
  background-position: left, left;
  background-repeat: no-repeat, repeat;
  background-color: #113245;
  padding: 2em 2em 1em 2em; }
  @media screen and (max-width: 1240px) {
    .headerCards-row {
      background-image: -webkit-radial-gradient(45em 10em, ellipse closest-corner, transparent 40%, rgba(0, 0, 0, 0.6) 100%), url("../imgs/starTile.svg");
      background-image: radial-gradient(ellipse closest-corner at 45em 10em, transparent 40%, rgba(0, 0, 0, 0.6) 100%), url("../imgs/starTile.svg"); } }
  .headerCards-row:last-child {
    margin-right: 0; }

.headerCards {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 76.76824%;
  background-image: -webkit-radial-gradient(-5em -5em, ellipse closest-corner, #fff 20%, transparent 100%);
  background-image: radial-gradient(ellipse closest-corner at -5em -5em, #fff 20%, transparent 100%);
  background-size: cover; }
  .headerCards:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    .headerCards {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .headerCards:last-child {
        margin-right: 0; } }
  .headerCards .mrMuert {
    float: left;
    display: block;
    margin-right: 10.1484%;
    width: 26.56773%;
    padding: 0;
    margin: 1.5em 0 0 0; }
    .headerCards .mrMuert:last-child {
      margin-right: 0; }
    @media screen and (max-width: 900px) {
      .headerCards .mrMuert {
        display: none; } }
  .headerCards .mrMuertImg {
    float: left;
    display: block;
    margin-right: 10.1484%;
    width: 63.28387%;
    position: relative;
    object-fit: 100%;
    object-position: left;
    max-height: 100%;
    min-height: 100%;
    margin: 0 0 0 0; }
    .headerCards .mrMuertImg:last-child {
      margin-right: 0; }
    @media screen and (max-width: 900px) {
      .headerCards .mrMuertImg {
        display: none; } }
  .headerCards:after::after {
    clear: both;
    content: "";
    display: block; }

div.cards4Wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  @media screen and (min-width: 600px) {
    div.cards4Wrapper {
      padding: 0% 10% 0% 10%; } }
  @media screen and (min-width: 900px) {
    div.cards4Wrapper {
      padding: 0% 5% 0% 10%; } }
  @media screen and (min-width: 1440px) {
    div.cards4Wrapper {
      padding: 0%; } }
  div.cards4Wrapper:last-child {
    margin-right: 0; }
  div.cards4Wrapper .card-1,
  div.cards4Wrapper .card-2,
  div.cards4Wrapper .card-3,
  div.cards4Wrapper .card-4,
  div.cards4Wrapper .card-5,
  div.cards4Wrapper .card-6,
  div.cards4Wrapper .card-7,
  div.cards4Wrapper .card-8,
  div.cards4Wrapper .card-9,
  div.cards4Wrapper .card-10,
  div.cards4Wrapper .card-11,
  div.cards4Wrapper .card-12,
  div.cards4Wrapper .card-13,
  div.cards4Wrapper .card-14,
  div.cards4Wrapper .card-15,
  div.cards4Wrapper .card-16,
  div.cards4Wrapper .card-17,
  div.cards4Wrapper .card-18,
  div.cards4Wrapper .card-19,
  div.cards4Wrapper .card-20,
  div.cards4Wrapper .card-21,
  div.cards4Wrapper .card-22,
  div.cards4Wrapper .card-23,
  div.cards4Wrapper .card-24 {
    position: relative;
    width: 100%;
    height: 600px;
    background-size: 75%, 100%, cover;
    background-position: left, center, center;
    background-repeat: no-repeat;
    background-color: #fff;
    padding-bottom: 0.9375em;
    margin-left: 1.875em;
    margin-bottom: 1.875em; }
    @media screen and (min-width: 600px) {
      div.cards4Wrapper .card-1,
      div.cards4Wrapper .card-2,
      div.cards4Wrapper .card-3,
      div.cards4Wrapper .card-4,
      div.cards4Wrapper .card-5,
      div.cards4Wrapper .card-6,
      div.cards4Wrapper .card-7,
      div.cards4Wrapper .card-8,
      div.cards4Wrapper .card-9,
      div.cards4Wrapper .card-10,
      div.cards4Wrapper .card-11,
      div.cards4Wrapper .card-12,
      div.cards4Wrapper .card-13,
      div.cards4Wrapper .card-14,
      div.cards4Wrapper .card-15,
      div.cards4Wrapper .card-16,
      div.cards4Wrapper .card-17,
      div.cards4Wrapper .card-18,
      div.cards4Wrapper .card-19,
      div.cards4Wrapper .card-20,
      div.cards4Wrapper .card-21,
      div.cards4Wrapper .card-22,
      div.cards4Wrapper .card-23,
      div.cards4Wrapper .card-24 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding-bottom: 1.25em; }
        div.cards4Wrapper .card-1:last-child,
        div.cards4Wrapper .card-2:last-child,
        div.cards4Wrapper .card-3:last-child,
        div.cards4Wrapper .card-4:last-child,
        div.cards4Wrapper .card-5:last-child,
        div.cards4Wrapper .card-6:last-child,
        div.cards4Wrapper .card-7:last-child,
        div.cards4Wrapper .card-8:last-child,
        div.cards4Wrapper .card-9:last-child,
        div.cards4Wrapper .card-10:last-child,
        div.cards4Wrapper .card-11:last-child,
        div.cards4Wrapper .card-12:last-child,
        div.cards4Wrapper .card-13:last-child,
        div.cards4Wrapper .card-14:last-child,
        div.cards4Wrapper .card-15:last-child,
        div.cards4Wrapper .card-16:last-child,
        div.cards4Wrapper .card-17:last-child,
        div.cards4Wrapper .card-18:last-child,
        div.cards4Wrapper .card-19:last-child,
        div.cards4Wrapper .card-20:last-child,
        div.cards4Wrapper .card-21:last-child,
        div.cards4Wrapper .card-22:last-child,
        div.cards4Wrapper .card-23:last-child,
        div.cards4Wrapper .card-24:last-child {
          margin-right: 0; }
        div.cards4Wrapper .card-1 h2,
        div.cards4Wrapper .card-2 h2,
        div.cards4Wrapper .card-3 h2,
        div.cards4Wrapper .card-4 h2,
        div.cards4Wrapper .card-5 h2,
        div.cards4Wrapper .card-6 h2,
        div.cards4Wrapper .card-7 h2,
        div.cards4Wrapper .card-8 h2,
        div.cards4Wrapper .card-9 h2,
        div.cards4Wrapper .card-10 h2,
        div.cards4Wrapper .card-11 h2,
        div.cards4Wrapper .card-12 h2,
        div.cards4Wrapper .card-13 h2,
        div.cards4Wrapper .card-14 h2,
        div.cards4Wrapper .card-15 h2,
        div.cards4Wrapper .card-16 h2,
        div.cards4Wrapper .card-17 h2,
        div.cards4Wrapper .card-18 h2,
        div.cards4Wrapper .card-19 h2,
        div.cards4Wrapper .card-20 h2,
        div.cards4Wrapper .card-21 h2,
        div.cards4Wrapper .card-22 h2,
        div.cards4Wrapper .card-23 h2,
        div.cards4Wrapper .card-24 h2 {
          font-size: 3.125em;
          line-height: 1.18;
          margin-top: .125em; }
        div.cards4Wrapper .card-1 h5,
        div.cards4Wrapper .card-2 h5,
        div.cards4Wrapper .card-3 h5,
        div.cards4Wrapper .card-4 h5,
        div.cards4Wrapper .card-5 h5,
        div.cards4Wrapper .card-6 h5,
        div.cards4Wrapper .card-7 h5,
        div.cards4Wrapper .card-8 h5,
        div.cards4Wrapper .card-9 h5,
        div.cards4Wrapper .card-10 h5,
        div.cards4Wrapper .card-11 h5,
        div.cards4Wrapper .card-12 h5,
        div.cards4Wrapper .card-13 h5,
        div.cards4Wrapper .card-14 h5,
        div.cards4Wrapper .card-15 h5,
        div.cards4Wrapper .card-16 h5,
        div.cards4Wrapper .card-17 h5,
        div.cards4Wrapper .card-18 h5,
        div.cards4Wrapper .card-19 h5,
        div.cards4Wrapper .card-20 h5,
        div.cards4Wrapper .card-21 h5,
        div.cards4Wrapper .card-22 h5,
        div.cards4Wrapper .card-23 h5,
        div.cards4Wrapper .card-24 h5 {
          font-size: 1.5625em;
          line-height: 1.2; } }
    @media screen and (min-width: 900px) {
      div.cards4Wrapper .card-1,
      div.cards4Wrapper .card-2,
      div.cards4Wrapper .card-3,
      div.cards4Wrapper .card-4,
      div.cards4Wrapper .card-5,
      div.cards4Wrapper .card-6,
      div.cards4Wrapper .card-7,
      div.cards4Wrapper .card-8,
      div.cards4Wrapper .card-9,
      div.cards4Wrapper .card-10,
      div.cards4Wrapper .card-11,
      div.cards4Wrapper .card-12,
      div.cards4Wrapper .card-13,
      div.cards4Wrapper .card-14,
      div.cards4Wrapper .card-15,
      div.cards4Wrapper .card-16,
      div.cards4Wrapper .card-17,
      div.cards4Wrapper .card-18,
      div.cards4Wrapper .card-19,
      div.cards4Wrapper .card-20,
      div.cards4Wrapper .card-21,
      div.cards4Wrapper .card-22,
      div.cards4Wrapper .card-23,
      div.cards4Wrapper .card-24 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 40.29137%; }
        div.cards4Wrapper .card-1:last-child,
        div.cards4Wrapper .card-2:last-child,
        div.cards4Wrapper .card-3:last-child,
        div.cards4Wrapper .card-4:last-child,
        div.cards4Wrapper .card-5:last-child,
        div.cards4Wrapper .card-6:last-child,
        div.cards4Wrapper .card-7:last-child,
        div.cards4Wrapper .card-8:last-child,
        div.cards4Wrapper .card-9:last-child,
        div.cards4Wrapper .card-10:last-child,
        div.cards4Wrapper .card-11:last-child,
        div.cards4Wrapper .card-12:last-child,
        div.cards4Wrapper .card-13:last-child,
        div.cards4Wrapper .card-14:last-child,
        div.cards4Wrapper .card-15:last-child,
        div.cards4Wrapper .card-16:last-child,
        div.cards4Wrapper .card-17:last-child,
        div.cards4Wrapper .card-18:last-child,
        div.cards4Wrapper .card-19:last-child,
        div.cards4Wrapper .card-20:last-child,
        div.cards4Wrapper .card-21:last-child,
        div.cards4Wrapper .card-22:last-child,
        div.cards4Wrapper .card-23:last-child,
        div.cards4Wrapper .card-24:last-child {
          margin-right: 0; }
        div.cards4Wrapper .card-1 h2,
        div.cards4Wrapper .card-2 h2,
        div.cards4Wrapper .card-3 h2,
        div.cards4Wrapper .card-4 h2,
        div.cards4Wrapper .card-5 h2,
        div.cards4Wrapper .card-6 h2,
        div.cards4Wrapper .card-7 h2,
        div.cards4Wrapper .card-8 h2,
        div.cards4Wrapper .card-9 h2,
        div.cards4Wrapper .card-10 h2,
        div.cards4Wrapper .card-11 h2,
        div.cards4Wrapper .card-12 h2,
        div.cards4Wrapper .card-13 h2,
        div.cards4Wrapper .card-14 h2,
        div.cards4Wrapper .card-15 h2,
        div.cards4Wrapper .card-16 h2,
        div.cards4Wrapper .card-17 h2,
        div.cards4Wrapper .card-18 h2,
        div.cards4Wrapper .card-19 h2,
        div.cards4Wrapper .card-20 h2,
        div.cards4Wrapper .card-21 h2,
        div.cards4Wrapper .card-22 h2,
        div.cards4Wrapper .card-23 h2,
        div.cards4Wrapper .card-24 h2 {
          font-size: 1.875em;
          line-height: 1.3;
          margin-top: .125em; }
        div.cards4Wrapper .card-1 h5,
        div.cards4Wrapper .card-2 h5,
        div.cards4Wrapper .card-3 h5,
        div.cards4Wrapper .card-4 h5,
        div.cards4Wrapper .card-5 h5,
        div.cards4Wrapper .card-6 h5,
        div.cards4Wrapper .card-7 h5,
        div.cards4Wrapper .card-8 h5,
        div.cards4Wrapper .card-9 h5,
        div.cards4Wrapper .card-10 h5,
        div.cards4Wrapper .card-11 h5,
        div.cards4Wrapper .card-12 h5,
        div.cards4Wrapper .card-13 h5,
        div.cards4Wrapper .card-14 h5,
        div.cards4Wrapper .card-15 h5,
        div.cards4Wrapper .card-16 h5,
        div.cards4Wrapper .card-17 h5,
        div.cards4Wrapper .card-18 h5,
        div.cards4Wrapper .card-19 h5,
        div.cards4Wrapper .card-20 h5,
        div.cards4Wrapper .card-21 h5,
        div.cards4Wrapper .card-22 h5,
        div.cards4Wrapper .card-23 h5,
        div.cards4Wrapper .card-24 h5 {
          font-size: 1.125em;
          line-height: 1.22222; } }
    @media screen and (min-width: 1440px) {
      div.cards4Wrapper .card-1,
      div.cards4Wrapper .card-2,
      div.cards4Wrapper .card-3,
      div.cards4Wrapper .card-4,
      div.cards4Wrapper .card-5,
      div.cards4Wrapper .card-6,
      div.cards4Wrapper .card-7,
      div.cards4Wrapper .card-8,
      div.cards4Wrapper .card-9,
      div.cards4Wrapper .card-10,
      div.cards4Wrapper .card-11,
      div.cards4Wrapper .card-12,
      div.cards4Wrapper .card-13,
      div.cards4Wrapper .card-14,
      div.cards4Wrapper .card-15,
      div.cards4Wrapper .card-16,
      div.cards4Wrapper .card-17,
      div.cards4Wrapper .card-18,
      div.cards4Wrapper .card-19,
      div.cards4Wrapper .card-20,
      div.cards4Wrapper .card-21,
      div.cards4Wrapper .card-22,
      div.cards4Wrapper .card-23,
      div.cards4Wrapper .card-24 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        height: 500px;
        margin-left: 2.5em; }
        div.cards4Wrapper .card-1:last-child,
        div.cards4Wrapper .card-2:last-child,
        div.cards4Wrapper .card-3:last-child,
        div.cards4Wrapper .card-4:last-child,
        div.cards4Wrapper .card-5:last-child,
        div.cards4Wrapper .card-6:last-child,
        div.cards4Wrapper .card-7:last-child,
        div.cards4Wrapper .card-8:last-child,
        div.cards4Wrapper .card-9:last-child,
        div.cards4Wrapper .card-10:last-child,
        div.cards4Wrapper .card-11:last-child,
        div.cards4Wrapper .card-12:last-child,
        div.cards4Wrapper .card-13:last-child,
        div.cards4Wrapper .card-14:last-child,
        div.cards4Wrapper .card-15:last-child,
        div.cards4Wrapper .card-16:last-child,
        div.cards4Wrapper .card-17:last-child,
        div.cards4Wrapper .card-18:last-child,
        div.cards4Wrapper .card-19:last-child,
        div.cards4Wrapper .card-20:last-child,
        div.cards4Wrapper .card-21:last-child,
        div.cards4Wrapper .card-22:last-child,
        div.cards4Wrapper .card-23:last-child,
        div.cards4Wrapper .card-24:last-child {
          margin-right: 0; }
        div.cards4Wrapper .card-1 h5,
        div.cards4Wrapper .card-2 h5,
        div.cards4Wrapper .card-3 h5,
        div.cards4Wrapper .card-4 h5,
        div.cards4Wrapper .card-5 h5,
        div.cards4Wrapper .card-6 h5,
        div.cards4Wrapper .card-7 h5,
        div.cards4Wrapper .card-8 h5,
        div.cards4Wrapper .card-9 h5,
        div.cards4Wrapper .card-10 h5,
        div.cards4Wrapper .card-11 h5,
        div.cards4Wrapper .card-12 h5,
        div.cards4Wrapper .card-13 h5,
        div.cards4Wrapper .card-14 h5,
        div.cards4Wrapper .card-15 h5,
        div.cards4Wrapper .card-16 h5,
        div.cards4Wrapper .card-17 h5,
        div.cards4Wrapper .card-18 h5,
        div.cards4Wrapper .card-19 h5,
        div.cards4Wrapper .card-20 h5,
        div.cards4Wrapper .card-21 h5,
        div.cards4Wrapper .card-22 h5,
        div.cards4Wrapper .card-23 h5,
        div.cards4Wrapper .card-24 h5 {
          font-size: 1.375em;
          line-height: 1.18182; } }
    div.cards4Wrapper .card-1:hover,
    div.cards4Wrapper .card-2:hover,
    div.cards4Wrapper .card-3:hover,
    div.cards4Wrapper .card-4:hover,
    div.cards4Wrapper .card-5:hover,
    div.cards4Wrapper .card-6:hover,
    div.cards4Wrapper .card-7:hover,
    div.cards4Wrapper .card-8:hover,
    div.cards4Wrapper .card-9:hover,
    div.cards4Wrapper .card-10:hover,
    div.cards4Wrapper .card-11:hover,
    div.cards4Wrapper .card-12:hover,
    div.cards4Wrapper .card-13:hover,
    div.cards4Wrapper .card-14:hover,
    div.cards4Wrapper .card-15:hover,
    div.cards4Wrapper .card-16:hover,
    div.cards4Wrapper .card-17:hover,
    div.cards4Wrapper .card-18:hover,
    div.cards4Wrapper .card-19:hover,
    div.cards4Wrapper .card-20:hover,
    div.cards4Wrapper .card-21:hover,
    div.cards4Wrapper .card-22:hover,
    div.cards4Wrapper .card-23:hover,
    div.cards4Wrapper .card-24:hover {
      height: 1100px; }

.lastCard {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .lastCard:last-child {
    margin-right: 0; }

div.bottomCard {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0; }
  div.bottomCard span.meaning a {
    font-size: .75em;
    text-decoration: underline;
    text-align: right; }
  div.bottomCard h5 {
    margin: 0;
    padding: 0em 0em 1em 0em;
    text-align: right; }

.back {
  position: absolute;
  top: 1em;
  left: 0em;
  z-index: 200;
  width: 100%;
  opacity: 0;
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 700;
  padding: 1em 1em 1em 1em; }
  .back:hover {
    display: block;
    color: black;
    opacity: 100; }

p.define {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  padding: .25em 0em; }

span.bold {
  font-family: "Lato", sans-serif;
  font-weight: 900; }

.regularText {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.card-1 {
  background-image: url("../imgs/sk1-fool.svg"), -webkit-radial-gradient(6em 8em, ellipse farthest-corner, transparent 30%, #F39200 100%), url("../imgs/bk-fool-80.jpg");
  background-image: url("../imgs/sk1-fool.svg"), radial-gradient(ellipse farthest-corner at 6em 8em, transparent 30%, #F39200 100%), url("../imgs/bk-fool-80.jpg"); }
  .card-1:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 8em, ellipse farthest-corner, transparent 0%, #F39200 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 8em, transparent 0%, #F39200 100%), url(" "); }

.card-2 {
  background-image: url("../imgs/sk1-magician.svg"), -webkit-radial-gradient(6em 9em, ellipse farthest-corner, transparent 30%, #371b4d 100%), url("../imgs/bk-magician-80.jpg");
  background-image: url("../imgs/sk1-magician.svg"), radial-gradient(ellipse farthest-corner at 6em 9em, transparent 30%, #371b4d 100%), url("../imgs/bk-magician-80.jpg"); }
  .card-2:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #371b4d 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #371b4d 100%), url(" "); }

.card-3 {
  background-image: url("../imgs/sk1-priestess.svg"), -webkit-radial-gradient(6em 9em, ellipse farthest-corner, transparent 40%, #80B1A1 100%), url("../imgs/bk-priestess-80.jpg");
  background-image: url("../imgs/sk1-priestess.svg"), radial-gradient(ellipse farthest-corner at 6em 9em, transparent 40%, #80B1A1 100%), url("../imgs/bk-priestess-80.jpg"); }
  .card-3:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #80B1A1 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #80B1A1 100%), url(" "); }

.card-4 {
  background-image: url("../imgs/sk1-empress.svg"), -webkit-radial-gradient(6em 9em, ellipse farthest-corner, transparent 40%, #371b4d 100%), url("../imgs/bk-empress-80.jpg");
  background-image: url("../imgs/sk1-empress.svg"), radial-gradient(ellipse farthest-corner at 6em 9em, transparent 40%, #371b4d 100%), url("../imgs/bk-empress-80.jpg");
  background-position: right, bottom; }
  .card-4:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #371b4d 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #371b4d 100%), url(" "); }

.card-5 {
  background-image: url("../imgs/sk1-emperor.svg"), -webkit-radial-gradient(transparent 40%, #19D8F2 100%), url("../imgs/bk-emperor-80.jpg");
  background-image: url("../imgs/sk1-emperor.svg"), radial-gradient(transparent 40%, #19D8F2 100%), url("../imgs/bk-emperor-80.jpg"); }
  .card-5:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #19D8F2 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #19D8F2 100%), url(" "); }

.card-6 {
  background-image: url("../imgs/sk1-hierophant.svg"), -webkit-radial-gradient(transparent 20%, #666600 100%), url("../imgs/bk-heirophant-80.jpg");
  background-image: url("../imgs/sk1-hierophant.svg"), radial-gradient(transparent 20%, #666600 100%), url("../imgs/bk-heirophant-80.jpg"); }
  .card-6:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #666600 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #666600 100%), url(" "); }

.card-6 img {
  width: 85%;
  margin-left: 1em; }

.card-7 {
  background-image: url("../imgs/sk1-lovers.svg"), -webkit-radial-gradient(transparent 10%, #8A44C0 100%), url("../imgs/bk-lover-80.jpg");
  background-image: url("../imgs/sk1-lovers.svg"), radial-gradient(transparent 10%, #8A44C0 100%), url("../imgs/bk-lover-80.jpg");
  background-position: center, bottom; }
  .card-7:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #8A44C0 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #8A44C0 100%), url(" "); }

.card-8 {
  background-image: url("../imgs/sk1-chariot.svg"), -webkit-radial-gradient(transparent 40%, #A8E2C0 100%), url("../imgs/bk-chariot-80.jpg");
  background-image: url("../imgs/sk1-chariot.svg"), radial-gradient(transparent 40%, #A8E2C0 100%), url("../imgs/bk-chariot-80.jpg");
  background-position: center, bottom; }
  .card-8:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #A8E2C0 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #A8E2C0 100%), url(" "); }

.card-9 {
  background-image: url("../imgs/sk1-strength.svg"), -webkit-radial-gradient(9em 13.75em, ellipse farthest-corner, transparent 40%, #ED1C24 100%), url("../imgs/bk-strength-80.jpg");
  background-image: url("../imgs/sk1-strength.svg"), radial-gradient(ellipse farthest-corner at 9em 13.75em, transparent 40%, #ED1C24 100%), url("../imgs/bk-strength-80.jpg"); }
  .card-9:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #ED1C24 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #ED1C24 100%), url(" "); }

.card-10 {
  background-image: url("../imgs/sk1-hermit.svg"), -webkit-radial-gradient(transparent 20%, #174427 100%), url("../imgs/bk-hermit-80.jpg");
  background-image: url("../imgs/sk1-hermit.svg"), radial-gradient(transparent 20%, #174427 100%), url("../imgs/bk-hermit-80.jpg"); }
  .card-10:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #174427 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #174427 100%), url(" "); }

.card-11 {
  background-image: url("../imgs/sk1-wheel.svg"), -webkit-radial-gradient(transparent 20%, #8A44C0 100%), url("../imgs/bk-wheel-80.jpg");
  background-image: url("../imgs/sk1-wheel.svg"), radial-gradient(transparent 20%, #8A44C0 100%), url("../imgs/bk-wheel-80.jpg");
  background-position: center, bottom; }
  .card-11:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #8A44C0 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #8A44C0 100%), url(" "); }

.card-12 {
  background-image: url("../imgs/sk1-justice.svg"), -webkit-radial-gradient(9em 13.75em, ellipse farthest-corner, transparent 30%, #A8E2C0 100%), url("../imgs/bk-justice-80.jpg");
  background-image: url("../imgs/sk1-justice.svg"), radial-gradient(ellipse farthest-corner at 9em 13.75em, transparent 30%, #A8E2C0 100%), url("../imgs/bk-justice-80.jpg");
  background-position: center, bottom; }
  .card-12:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #A8E2C0 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #A8E2C0 100%), url(" "); }

.card-13 {
  background-image: url("../imgs/sk1-hangedMan.svg"), -webkit-radial-gradient(transparent 20%, #613a00 100%), url("../imgs/bk-hangedMan-80.jpg");
  background-image: url("../imgs/sk1-hangedMan.svg"), radial-gradient(transparent 20%, #613a00 100%), url("../imgs/bk-hangedMan-80.jpg"); }
  .card-13:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #613a00 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #613a00 100%), url(" "); }

.card-14 {
  background-image: url("../imgs/sk1-death.svg"), -webkit-radial-gradient(transparent 20%, #371b4d 100%), url("../imgs/bk-death-80.jpg");
  background-image: url("../imgs/sk1-death.svg"), radial-gradient(transparent 20%, #371b4d 100%), url("../imgs/bk-death-80.jpg"); }
  .card-14:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #371b4d 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #371b4d 100%), url(" "); }

.card-15 {
  background-image: url("../imgs/sk1-temperance.svg"), -webkit-radial-gradient(transparent 20%, #80B1A1 100%), url("../imgs/bk-temperance-80.jpg");
  background-image: url("../imgs/sk1-temperance.svg"), radial-gradient(transparent 20%, #80B1A1 100%), url("../imgs/bk-temperance-80.jpg");
  background-position: center, bottom; }
  .card-15:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #80B1A1 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #80B1A1 100%), url(" "); }

.card-16 {
  background-image: url("../imgs/sk1-devil.svg"), -webkit-radial-gradient(6em 6em, ellipse closest-corner, transparent 70%, #F2DD98 100%), url("../imgs/bk-devil-80.jpg");
  background-image: url("../imgs/sk1-devil.svg"), radial-gradient(ellipse closest-corner at 6em 6em, transparent 70%, #F2DD98 100%), url("../imgs/bk-devil-80.jpg");
  background-position: center, bottom; }
  .card-16:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #F2DD98 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #F2DD98 100%), url(" "); }

.card-17 {
  background-image: url("../imgs/sk1-tower.svg"), -webkit-radial-gradient(6em 9em, ellipse farthest-corner, transparent 30%, #80B1A1 100%), url("../imgs/bk-tower-80.jpg");
  background-image: url("../imgs/sk1-tower.svg"), radial-gradient(ellipse farthest-corner at 6em 9em, transparent 30%, #80B1A1 100%), url("../imgs/bk-tower-80.jpg"); }
  .card-17:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #80B1A1 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #80B1A1 100%), url(" "); }

.card-18 {
  background-image: url("../imgs/sk1-star.svg"), -webkit-radial-gradient(9em 13.75em, ellipse farthest-corner, transparent 40%, #58103f 100%), url("../imgs/bk-star-80.jpg");
  background-image: url("../imgs/sk1-star.svg"), radial-gradient(ellipse farthest-corner at 9em 13.75em, transparent 40%, #58103f 100%), url("../imgs/bk-star-80.jpg"); }
  .card-18:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #58103f 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #58103f 100%), url(" "); }

.card-19 {
  background-image: url("../imgs/sk1-moon.svg"), -webkit-radial-gradient(9em 13.75em, ellipse farthest-corner, transparent 40%, #8A44C0 100%), url("../imgs/bk-moon-80.jpg");
  background-image: url("../imgs/sk1-moon.svg"), radial-gradient(ellipse farthest-corner at 9em 13.75em, transparent 40%, #8A44C0 100%), url("../imgs/bk-moon-80.jpg");
  background-position: center, bottom; }
  .card-19:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #8A44C0 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #8A44C0 100%), url(" "); }

.card-20 {
  background-image: url("../imgs/sk1-sun.svg"), -webkit-radial-gradient(9em 13.75em, ellipse farthest-corner, transparent 40%, #A8E2C0 100%), url("../imgs/bk-sun-80.jpg");
  background-image: url("../imgs/sk1-sun.svg"), radial-gradient(ellipse farthest-corner at 9em 13.75em, transparent 40%, #A8E2C0 100%), url("../imgs/bk-sun-80.jpg");
  background-position: center, bottom; }
  .card-20:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #A8E2C0 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #A8E2C0 100%), url(" "); }

.card-21 {
  background-image: url("../imgs/sk1-judgement.svg"), -webkit-radial-gradient(9em 13.75em, ellipse farthest-corner, transparent 40%, #ED1C24 100%), url("../imgs/bk-judgement-80.jpg");
  background-image: url("../imgs/sk1-judgement.svg"), radial-gradient(ellipse farthest-corner at 9em 13.75em, transparent 40%, #ED1C24 100%), url("../imgs/bk-judgement-80.jpg"); }
  .card-21:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #ED1C24 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #ED1C24 100%), url(" "); }

.card-22 {
  background-image: url("../imgs/sk1-world.svg"), -webkit-radial-gradient(9em 13.75em, ellipse farthest-corner, transparent 40%, #174427 100%), url("../imgs/bk-world-80.jpg");
  background-image: url("../imgs/sk1-world.svg"), radial-gradient(ellipse farthest-corner at 9em 13.75em, transparent 40%, #174427 100%), url("../imgs/bk-world-80.jpg"); }
  .card-22:hover {
    background-image: url(" "), -webkit-radial-gradient(6em 25em, ellipse farthest-corner, transparent 0%, #174427 100%), url(" ");
    background-image: url(" "), radial-gradient(ellipse farthest-corner at 6em 25em, transparent 0%, #174427 100%), url(" "); }

/*# sourceMappingURL=app.css.map */
