//Base styles

body {
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--secondary;
  font-weight: $font-weight--regularV;
  background-color: $color-whiteSmoke;
  color: $color-text-base;
}

h1 {
  font-family: $stack-cursive;
  font-weight: $font-weight--light;
  font-size: em(42px);
  line-height: (46px / 42px);
  margin-bottom: em((42px / 2), 42px);
  color: shade($color-discoPurple,20%);
  text-align: center;
  margin-top: .75em;
}
h2 {
  font-family: $stack-serif;
  font-weight: $font-weight--boldV;
  font-size: em(24px);
	color: palette(black, light);
}
h3 {
  font-family: $stack-cursive-option;
  font-weight: $font-weight--regular;
  font-size: em(40px);
  line-height: (40px / 38px);
  text-align: center;
  color: shade($color-discoPurple,20%);
}
h5 {
  font-family: $stack-cursive;
  font-weight: $font-weight--light;
  font-size: em(16px);
  line-height: (16px / 14px);
  margin-bottom: em((16px / 2), 14px);
  color: shade($color-discoPurple,20%);
  text-align: center;
  margin-top: em(5px);
  text-transform: capitalize;
}
ul {
  list-style: none;
  margin:0;
  padding: 0;
  text-align: center;
  li {
    display: inline;
    margin-right: 1em;
    a {
      text-decoration: none;
      color: shade($color-discoPurple,20%);
      &:hover {
        color: tint($color-discoPurple, 20%);
      }
    }
    &:nth-child(3n+3) {
        margin-right: 0;
    }
  }
}

article {
  background-color: $color-card-background;
  border: $border-test-weight dashed $border-test-color;
  border-radius: $br;
}
