//Base styles

body {
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--secondary;
  font-weight: $font-weight--regularV;
  background-color: $black;
  color: $color-text-base;
}

h1 {
  font-family: $stack-cursive;
  font-weight: $font-weight--light;
  font-size: em(42px);
  line-height: (46px / 42px);
  margin-bottom: em((42px / 2), 42px);
  color: $white;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-top: .75em;
}
h2 {
  font-family: $stack-serif;
  font-weight: $font-weight--boldV;
  font-size: em(24px);
	color: palette(black, light);
}
ul {
  list-style: none;
  margin:0;
  padding: 0;
  li {
    display: inline;
    a {
      text-decoration: none;
      color: $white;
      -webkit-font-smoothing: antialiased;
      margin: .5em 1.5em .5em 0em;
      &:hover {
        color: tint($color-discoPurple, 20%);
      }
    }
  }
}
h3 {
  font-family: $stack-cursive-option;
  font-weight: $font-weight--light;
  font-size: em(18px);
  line-height: (18px / 18px);
  text-align: center;
  color: $red;
  -webkit-font-smoothing: antialiased;
  margin-top: em(18px);
}
article {
  background-color: $color-card-background;
  border: $border-test-weight dashed $border-test-color;
  border-radius: $br;
}
h4,
h5 {
  font-family: $stack-cursive;
  font-weight: $font-weight--light;
  font-size: em(16px);
  line-height: (16px / 14px);
  -webkit-font-smoothing: antialiased;
  text-transform: capitalize;
  color: $blue;
  text-align: right;
}
h4  {
  font-size: em(26px);
  padding: 0em .75em 0em 0em;
  margin-bottom: 0;
}
h5 {
  font-family: $stack-serif;
  background-color: shade($blue, 40%);
  margin-bottom: 0em;
  padding: 1em 1.25em 1em 1em;
  color: $white;
}
a {
  color: shade($blue, 40%);
  text-decoration: none;
  position: relative;
  float:right;
  margin-top: .5em;
  margin-right: 1.35em;
  &:hover {
    color: $color-lightBlue;
    text-decoration: underline;
  }
  &:after {
    @include clearfix;
  }
}
