//Base styles

body {
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--secondary;
  font-weight: $font-weight--regularV;
  background-color: $black;
  color: $color-text-base;
}

h1 {
  font-family: $stack-cursive;
  font-weight: $font-weight--light;
  font-size: em(42px);
  line-height: (46px / 42px);
  margin-bottom: em((42px / 2), 42px);
  color: $white;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-top: .75em;
}

h2  {
  @media screen and (max-width:1240px) {
    font-size: em(24px);
    line-height: (32px / 24px);
    margin-bottom: em((24px / 2), 32px);
  }
  @media screen and (max-width:960px) {
    margin-top: .5em;
  }
  font-family: $stack-cursive;
  font-weight: $font-weight--light;
  font-size: em(32px);
  line-height: (48px / 32px);
  margin-bottom: em((36px / 2), 32px);
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding: 0;
}

h3 {
  font-family: $stack-cursive-option;
  font-weight: $font-weight--light;
  font-size: em(18px);
  line-height: (18px / 18px);
  text-align: center;
  color: $white;
  -webkit-font-smoothing: antialiased;
  margin-top: em(18px);
}

h5 {
  @media screen and (max-width:1240px) {
    font-size: em(15px);
    line-height: (18px / 15px);
    margin-bottom: em((15px / 2), 32px);
  }
  @media screen and (max-width:960px) {
    font-size: em(12px);
    line-height: (13px / 12px);
    margin-bottom: em((12px / 2), 32px);
  }
  font-family: $stack-serif;
  font-size: em(16px);
  line-height: (18px / 16px);
  margin-bottom: 0em;
  text-align: right;
  padding: 1em 1.25em .2em 1em;
}

.card- > h2  > h5,
.card-1  {
  color: $red;
}
.card-2 {
  color: $color-magicGreen;
}
.card-3 {
  color: $color-lightYellow;
}
.card-4 {
  color: $color-empressRed;
}
.card-5 {
  color: $color-empressOrange;
}
.card-6 {
  color: shade($color-heiroPink, 30%);
}
.card-7 {
  color: $white;
}
.card-8 {
  color: $color-chariotOrange;
}
.card-9 {
  color: $color-strongOrange;
}
.card-10 {
  color: $red;
}
.card-11 {
  color: $white;
}
.card-12 {
  color: $red;
}
.card-13 {
  color: $white;
}
.card-14 {
  color: $color-judgeRed;
  & h5 {
    color:$white;
  }
}
.card-15 {
  color: $color-judgeRed;
  & h5 {
    color:$white;
  }
}
.card-16 {
  color: $lightGrey;
}
.card-17 {
  color: $color-starPink;
}
.card-18 {
  color: $white;
  & h5 {
    color:$color-magicPurple;
  }
}
.card-19 {
  color: $color-sunPurple;
}
.card-20 {
  color: $color-judgeRed;
}
.card-21 {
  color: $white;
  & h5 {
  color: tint($color-judgeRed,40%);
  }
}
.card-22 {
  color: $white;
}

article {
  border-radius: $br;
}

div.cards4Wrapper {
  p {
    font-size: em(14px);
  }
  a {
  color: shade($blue, 40%);
  text-decoration: none;
  position: relative;
  float:right;
  margin-top: .2em;
  margin-right: 1.35em;
  color: $white;
  -webkit-font-smoothing: antialiased;
  padding-bottom: em(10px);
  &:hover {
    color: $color-lightBlue;
    text-decoration: underline;
  }
    &:before,
    :after {
      @include clearfix;
    }
  }
}

ul {
  list-style: none;
  margin:0;
  padding: 0;
  li {
    display: inline;
    a {
      text-decoration: none;
      color: $white;
      -webkit-font-smoothing: antialiased;
      margin: .5em 1.5em .5em 2em;
      &:hover {
        color: tint($color-discoPurple, 20%);
      }
    }
  }
}
