//REMOVE AFTER TESTING

$border-test-color        : green;
$border-test-weight       :
1px;





// Descriptive colors

$white              : #fff;
$black              : #000;
$grey               : #333;

$red                : red;
$orange             : orange;
$blue               : #063F77;

$color-lightBlue    : #aadce6;
$color-wildSand     : #f6f6f6;
$color-whiteSmoke   : #f4f4f4;
$color-discoPurple  : #005689;

// Functional colors

$color-prim         : $red;
$color-sec          : $orange;

$color-text-light   : $white;
$color-text-base    : $grey;
$color-text-dark    : $black;

$color-border-light : lighten($grey, 35%);
$color-border-dark  : $blue;

$color-card-background: $white;

$color-link-default : $orange;
$color-link-visited : $blue;

$color-shadow       : rgba($black,.8);
$color-body         : $black;



// Font stacks
 $font-url--google    : 'https://fonts.googleapis.com/css?family=Carrois+Gothic|Ewert|Holtwood+One+SC|Lato:100i,300,300i,400,400i,700,700i,900,900i|Rye|Volkhov:400i,700,700i|Sacramento|Walter+Turncoat';




$stack-cursive            : 'Rye', cursive;
// $stack-cursive-option            : 'Sacramento', cursive;
$stack-cursive-option            : 'Walter Turncoat', cursive;
$stack-sans-serif         : 'Lato', sans-serif;
$stack-serif              : 'Volkhov', serif;
$stack-sans-serif-option  : 'Carrois Gothic', sans-serif;

$font-family--primary     : $stack-serif;
$font-family--secondary   : $stack-sans-serif-option;

// Font Weights for Lato:
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--regular    : 400;
$font-weight--bold       : 700;

// Font Weights for Volkhov:

$font-weight--regularV   : 400;
$font-weight--boldV      : 700;

// Functional font variables



// Border radius

$br: 6px;

// Asset paths
// Path to Assets

$path--rel       : "../imgs";
$path-img : '../imgs';
$path-font: '../fonts';

// Media queries

$brk-narrow   : '(max-width: 768px)';
$brk-medium   : '(max-width:960px)';
$brk-wide     : '(max-width:)';

// Color Palette Modifiers

$palettes: (
  grey: (
    xx-light : lighten($grey, 43%),
    x-light  : lighten($grey, 35%),
    light    : lighten($grey, 12%),
    base     : $grey,
    dark     : darken($grey, 8%),
    x-dark   : darken($grey, 16%)
  ),
	black: (
		light    : lighten($black, 10%),
		base     : $black,
		dark     : darken($black, 10%)
	)
);

// Text

$base__font-size    : 16px;
$base__line         : 24px;
