@import "libraries/bourbon/bourbon.scss";
@import "libraries/neat/neat.scss";
@import "_reset.scss";
@import "_variables.scss";
@import "_utilities.scss";
@import "_base.scss";
@import "_mixins.scss";

#main {
  @include outer-container();
}

#nav-row {
  @include span-columns(12);
  background-color: shade($blue,40%);
}
div.nav-links {
  background-color: shade($blue,50%);
  @include span-columns(12 of 12);
}
#headerCards-row {
  @include span-columns(12);
  @include background-image(radial-gradient(transparent 0%, $black 100%), url("../imgs/starTile.svg"));
  background-size: cover, 200px;
  background-position: cover, left;
  background-repeat: no-repeat, repeat;
  background-color: $blue;
  padding: .5em 2em 1em 2em;
}
.headerCards {
  @include span-columns (3 of 12);
  @include shift (9 of 12);
  @include background-image(radial-gradient(ellipse closest-corner at -5em -5em, $white 20%, transparent 100%));
  background-size: cover;
  .mrMuert {
    @include span-columns (1 of 3);
    padding: 0;
    margin: 1.5em 0 0 0;
  }
  .mrMuertImg {
    @include span-columns (2 of 3);
    position: relative;
    object-fit: 100%;
    object-position: left;
    max-height: 100%;
    min-height: 100%;
    margin: 0 0 0 0;
  }
  &:after {
    @include clearfix;
  }
}
div.cards4Wrapper {
  @include span-columns(12 of 12);
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    @include span-columns (3 of 12);
    background-size: cover, cover;
    background-position: center, right;
    background-repeat: no-repeat;
    background-color: $white;
    img {
      @include span-columns (3 of 3);
      position: relative;
      top: 0;
      width: 80%;
    }
  }
}
.card-1 {
    @include background-image(radial-gradient(circle, transparent 70%, $blue 100%), url("../imgs/bk-fool-80.jpg"));
}
.card-2 {
    @include background-image(radial-gradient(circle, transparent 70%, $blue 100%), url("../imgs/bk-magician-80.jpg"));
}
.card-3 {
    @include background-image(radial-gradient(circle, transparent 70%, $blue 100%), url("../imgs/bk-priestess-80.jpg"));
}
.card-4 {
    @include background-image(radial-gradient(circle, transparent 70%, $blue 100%), url("../imgs/bk-empress-80.jpg"));
}
