@import "libraries/bourbon/bourbon.scss";
@import "libraries/neat/neat.scss";
@import "_reset.scss";
@import "_variables.scss";
@import "_utilities.scss";
@import "_base.scss";
@import "_mixins.scss";

#main {
  @include outer-container();
  background-color: $color-wildSand;
}

#nav-row {
  @include span-columns(12);
  background-color: $orange;
  border: $border-test-weight dashed $border-test-color;
}
div.nav-links {
  background-color: rgba($grey, 0.10);
  @include span-columns(12 of 12);
}
#card-row {
  @include span-columns(12);
  background-color: $color-whiteSmoke;
  padding: em(20px);
}
.card-1 {
@include span-columns (3 of 12);
}
.card-2 {
@include span-columns (3 of 12);
}
.card-3 {
@include span-columns (3 of 12);
}
.card-4 {
@include span-columns (3 of 12);
}
